<ngx-datatable class="data-table" [rows]="gridOptions.data" [columnMode]="'force'" [columns]="gridOptions.columnDefs"
  [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true"
  [count]="gridOptions.pageOffset.count" [offset]="gridOptions.pageOffset.offset" [limit]="gridOptions.pageOffset.limit"
  (page)="onPageChanged($event)" [loadingIndicator]="loading" [externalSorting]="true" (sort)="onSortChanged($event)"
  class="bootstrap">
  <ngx-datatable-column name="Id" [width]="40" [minWidth]="40" [minWidth]="40">
    <ng-template let-column="column" ngx-datatable-header-template></ng-template>
    <ng-template let-value="value" ngx-datatable-cell-template>
      <a [routerLink]="[gridOptions.detailPageUrl + '/' + value]" class="nounderline">
        <i class="icon-magnifier icons font-2xl d-block" title="{{value}}"></i>
      </a>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column *ngFor="let columnDef of gridOptions.columnDefs" [name]="columnDef.name" [prop]="columnDef.prop"
    [width]="columnDef.width" [resizeable]="true" [sortable]="columnDef.sortable" [draggable]="true"
    [canAutoResize]="true">
    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
      <span class="datatable-header-cell-wrapper">
        <span class="datatable-header-cell-label draggable" (click)="sort()"><strong>{{column.name}}</strong></span>
      </span>
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <span [ngClass]="columnDef.cellClass ? columnDef.cellClass(row): ''">
        {{
          columnDef.filter == "date" ? (value | date : columnDef.filterFormat) : value
        }}
      </span>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>